/* Modo Oscuro */
.work-history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #777777;
  left: 50%;
  transform: translateX(-50%);
}

.work-experience {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0;
  position: relative;
  transition: all 0.3s ease;
}

.work-experience.active {
  background-color: #555555;
  box-shadow: 0 0 5px #00ff00;
}

.work-experience:hover {
  background-color: #555555;
  box-shadow: 0 0 5px #00ff00;
}

.work-experience:nth-child(odd) {
  flex-direction: row-reverse;
}

.work-date {
  font-weight: bold;
  color: #cccccc;
  width: 150px;
  padding-right: 30px;
  text-align: right;
}

.work-details {
  flex-grow: 1;
  padding: 20px;
  background-color: #444444;
  border-radius: 10px;
  position: relative;
}

.company-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.company-description {
  font-size: 16px;
  line-height: 1.5;
}

.company-description p:first-child {
  margin-top: 0;
}

.company-description p:last-child {
  margin-bottom: 0;
}

.company-description a {
  color: #0099ff;
  text-decoration: none;
}

.company-description a:hover {
  text-decoration: underline;
}

.work-experience:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #444444;
  border: 2px solid #777777;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 30px;
  height: 30px;
}

.work-experience:nth-child(odd)::before {
  right: -15px;
}

.work-experience:nth-child(even)::before {
  left: -15px;
}

.work-experience:last-child::before {
  content: none;
}

@media screen and (max-width: 767px) {
  .work-experience {
    flex-direction: column;
    align-items: center;
  }

  .work-date {
    text-align: center;
    width: auto;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .work-experience:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .work-details {
    text-align: center;
  }

  .work-experience:before {
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    right: auto;
  }

  .work-experience:nth-child(odd)::before {
    left: auto;
    right: -25px;
  }
}
